###############################################################################
# Settings Variables (used while reading the settings) ########################
###############################################################################
global.package_root = /home/austin_w_milt/deployment



###############################################################################
# Job #########################################################################
###############################################################################
job.keymap_default = /home/austin_w_milt/deployment/resources/keys.pkl
#job.keymap_default = %global.package_root%/resources/keys.pkl
job.jar_dir = %global.package_root%/java
job.quality_default = 480
job.scratch_directory = /var/www/videogameview/scratch
job.gcp_credentials = /home/austin_w_milt/Video Game View-ef7c4f99fe6d.json
job.gcp_replay_bucket = vgv-replays
job.gcp_upload_new_replays = true



###############################################################################
# Server ######################################################################
###############################################################################
server.ports = 80,443
server.testing = True
server.socket_request_limit = 3
server.workers = 10
server.session_death_timeout = 300



###############################################################################
# Clock Trainer ###############################################################
###############################################################################

# training data save/load settings
clock_trainer.training_dir = D:/Dropbox/video-game-view/server/training_data/clock/clock_images
clock_trainer.search_str = **.png
clock_trainer.save_glyphs = false

# character segmentation
#clock_trainer.bw_threshold = 0.63
clock_trainer.bw_threshold = 0.54
clock_trainer.ligand_factor = 3.0
clock_trainer.glyphs = 4
clock_trainer.segwidth_001 = 0
clock_trainer.segwidth_010 = 14
clock_trainer.segwidth_100 = 19
clock_trainer.positions_001 = 7-11, 11-14, 14-17, 17-21
clock_trainer.positions_010 = 5-8, 9-12, 12-15, 15-18, 19-22
clock_trainer.positions_100 = 2-6, 7-10, 10-14, 14-16, 16-19, 20-24

# detection network
clock_trainer.layer_size = 100
clock_trainer.learning_rate = 0.003
clock_trainer.decay_rate = 0.000
clock_trainer.epochs = 5000
clock_trainer.batch_size = 1
clock_trainer.label_size = 11
clock_trainer.training_proportion = 0.95
clock_trainer.validation_proportion = 0.05
clock_trainer.dropout_rate = 0.5

# file name to clock label conversions
clock_trainer.time_separator = :
clock_trainer.image_format = .png



###############################################################################
# Clock Detector ##############################################################
###############################################################################

clock_detector.serialized_network = /home/austin_w_milt/deployment/resources/clock_detection_network.ser
#clock_detector.serialized_network = %global.package_root%/resources/clock_detection_network.ser
#clock_detector.frame_region = 0.480, 0.024, 0.040, 0.012
clock_detector.frame_region = 414, 11, 26, 6
#clock_detector.character_width = 0.005
clock_detector.save_predictions = false
clock_detector.key = clock



###############################################################################
# Name Trainer ################################################################
###############################################################################

# training data save/load settings
name_trainer.training_dir = D:/Dropbox/video-game-view/server/training_data/hero_names
name_trainer.search_str = **/*.png
name_trainer.save_glyphs = false

# average image version settings
name_trainer.binary_threshold = 0.65

# detection network
name_trainer.layer_size = 1
name_trainer.learning_rate = 0.003
name_trainer.decay_rate = 0.000
name_trainer.epochs = 5000
name_trainer.batch_size = 1
name_trainer.training_proportion = 0.95
name_trainer.validation_proportion = 0.05
name_trainer.dropout_rate = 0.3



###############################################################################
# Name Detector ###############################################################
###############################################################################

name_detector.serialized_network = /home/austin_w_milt/deployment/resources/name_detection_network.ser
#name_detector.serialized_network = %global.package_root%/resources/name_detection_network.ser
#name_detector.frame_region = 0.294, 0.851, 0.106, 0.014
name_detector.frame_region = 252, 408, 91, 6
#name_detector.character_width = 0.005
name_detector.save_predictions = false
name_detector.key = name



###############################################################################
# Video Parser ################################################################
###############################################################################

# order and use of detectors
video_parser.detectors = name_detector, clock_detector

# frame skip defaults
video_parser.play_skip_frames = 1
video_parser.play_skip_seconds = 1
video_parser.play_skip_minutes = 1

# skip in units of seconds
video_parser.parse_skip_default = 1

# CSV formatting
video_parser.csv_separator_column = ,
video_parser.csv_separator_interval = -
video_parser.csv_separator_label = ;
video_parser.csv_column_frame = frame
video_parser.csv_column_time = time
video_parser.csv_column_interval = interval
video_parser.csv_column_label = labels
video_parser.csv_column_detector = detector

# library files
video_parser.opencv_windows = /home/austin_w_milt/deployment/java/opencv_java331.dll
#video_parser.opencv_windows = %global.package_root%/java/opencv_java331.dll
video_parser.opencv_linux = /home/austin_w_milt/deployment/java/libopencv_java331.so
#video_parser.opencv_linux = %global.package_root%/java/libopencv_java331.so



